* {
  margin: 5px;
  padding: 5px;

 }

 body {
    background: linear-gradient(#87CEEB, white, #87CEEB);
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    background-attachment: fixed;

 }